{% extends "dashboard/base.html" %}

{% block content %}
<div class="container my-5">
    <h2>Gallery Management</h2>
    <a href="{% url 'add_gallery_item' %}" class="btn btn-success mb-4">Add New Image</a>
    <div class="row">
        {% for image in images %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p class="card-text">{{ image.description }}</p>
                    <a href="{% url 'edit_gallery_item' image.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_gallery_item' image.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
